<!--Header Section Starts Here-->
<header class="bg-nav header-wrap-div">
    <div class="flex justify-between">
        <div class="user-name-div">
            <div class="dropdown">
                <button class="buttonCls dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" (click)="goto()">
                    <img src="assets/images/Logomain.png"> <span>Hello Admin</span>
                </button>
                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><span><i class="fas fa-user"></i></span> My account</a>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-bell"></i></span> Notifications</a>
                    <a class="dropdown-item" href="#"><span><i class="fas fa-sign-out-alt"></i></span>
                        Logout</a>
                </div> -->
            </div>
        </div>
        <div class="header-banner-img d-flex justify-content-between">
            <img src="assets/images/Logomain.png">
            <img src="assets/images/ABProjectsLogo.png">
            <img src="assets/images/logo.png" alt="">
        </div>
        <!-- <div class="user-login-icons">
            <ul>
                <li> <a href="#"><i class="fas fa-search"></i></a></li>
                <li> <a href="#"><i class="fas fa-cog"></i></a></li>
                <li><a href="#"><i class="fas fa-user"></i></a></li>


            </ul>

        </div> -->
    </div>
</header>
<!--/Header-->