.graph-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 4vh !important;
    margin-top: 10px;
}

.graph-block {
    display: flex !important;
    gap: 4vh !important;
}

.graph-box-1 {
    flex-grow: 1;
}