
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                Graphs
                            </div>
                            <div class="graph-container">
                                <div class="graph-block">
                                    <div class="graph-box-1">
                                        <ngx-charts-pie-chart
                                            [view]="view"
                                            [scheme]="colorScheme"
                                            [results]="single"
                                            [gradient]="gradient"
                                            [legend]="showLegend"
                                            [legendPosition]="legendPosition"
                                            [labels]="showLabels"
                                            [doughnut]="isDoughnut"
                                            (select)="onSelect($event)"
                                            (activate)="onActivate($event)"
                                            (deactivate)="onDeactivate($event)"
                                            >
                                        </ngx-charts-pie-chart>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="graph-container">
                                <div class="graph-block">
                                        <div class="graph-box-2">
                                            <ngx-charts-bar-vertical
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="ageResult"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegend"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel"
                                                [yAxisLabel]="yAxisLabel"
                                                (select)="onSelect($event)">
                                            </ngx-charts-bar-vertical>
                                        </div>
                                   
                                </div>
                            </div>

                            <div class="graph-container">
                                <div class="graph-block">
                                        <div class="graph-box-2">
                                            <ngx-charts-bar-vertical
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="wardsResult"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegend"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabelA"
                                                [yAxisLabel]="yAxisLabel"
                                                (select)="onSelect($event)">
                                            </ngx-charts-bar-vertical>
                                        </div>
                                   
                                </div>
                            </div>

                            <div class="graph-container">
                                <div class="graph-block">
                                        <div class="graph-box-2">
                                            <ngx-charts-bar-vertical
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="educationResult"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegend"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="yAxisLabelB"
                                                [yAxisLabel]="yAxisLabel"
                                                (select)="onSelect($event)">
                                            </ngx-charts-bar-vertical>
                                        </div>
                                   
                                </div>
                            </div>

                            <div class="graph-container">
                                <div class="graph-block">
                                        <div class="graph-box-2">
                                            <ngx-charts-bar-vertical
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="dependantsResult"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegend"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabelDependants"
                                                [yAxisLabel]="yAxisLabel"
                                                (select)="onSelect($event)">
                                            </ngx-charts-bar-vertical>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="graph-container">
                                <div class="graph-block">
                                        <div class="graph-box-2">
                                            <ngx-charts-bar-vertical-2d
                                            [view]="view"
                                            [scheme]="colorScheme"
                                            [results]="roadInspection"
                                            [gradient]="gradient"
                                            [xAxis]="showXAxis"
                                            [yAxis]="showYAxis"
                                            [legend]="showLegend"
                                            [showXAxisLabel]="showXAxisLabel"
                                            [showYAxisLabel]="showYAxisLabel"
                                            [xAxisLabel]="xAxisLabelRoad"
                                            [yAxisLabel]="yAxisLabelRoad"
                                            [legendTitle]="legendTitle"
                                            (select)="onSelect($event)"
                                            (activate)="onActivate($event)"
                                            (deactivate)="onDeactivate($event)">
                                          </ngx-charts-bar-vertical-2d>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          
                
                 

                
           
            <!--/Main-->
        </div>
    </div>

</div>
