<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>
  
        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">
                
                 <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                    EPWP Participants Attendance Map for today
                </div>
  
                <div class="container" [formGroup]="form">
                    <div class="filters">
                        <mat-form-field>
                            <mat-select formControlName="wardId" placeholder="Wards" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search formControlName="wardFilter"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of wards" [value]="item?.id">
                                {{item?.ward}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <input formControlName="dt" type="date" value="" name="dt" />
                    </div>
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker  *ngFor="let data of attendanceDetailData; let i = index" [latitude]="+data?.startLocation" [longitude]="+data?.endLocation">
                        </agm-marker>
                      </agm-map>
                </div>
                
            </main>
            <!--/Main-->
        </div>
    </div>
  
  </div>
  