<!--Sidebar-->
<aside id="sidebar" class="bg-side-nav side-bar-wrap">
    <div class="side-strip-bar">

    </div>
    <ul class="list-reset flex flex-col">
        <li [class.active]="(activeMenuItem == 'dashboard')" (click)="goto('/dashboard', 'dashboard')">
            <span><i class="fas fa-home"></i></span>
            <a href="javascript:void(0);">
                Dashboard
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'graphs')" (click)="goto('/dashboard/graphs', 'graphs')">
            <span><i class="fas fa-chart-pie"></i></span>
            <a href="javascript:void(0);">
                Demographics
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'roadInspection')" (click)="goto('/dashboard/roadInspection', 'roadInspection')">
            <span><i class="fas fa-envelope"></i></span>
            <a href="javascript:void(0);">
                Road Inspection
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'incident')" (click)="goto('/dashboard/incident', 'incident')">
            <span><i class="fas fa-envelope"></i></span>
            <a href="javascript:void(0);">
                Incident Report
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'manageSupervisor')" (click)="goto('/dashboard/manageSupervisor', 'manageSupervisor')">
            <span><i class="fas fa-user"></i></span>
            <a href="javascript:void(0);">
                Manage Supervisor
            </a>
        </li>
        
        <li [class.active]="(activeMenuItem == 'paymentSchedule')" (click)="goto('/dashboard/paymentSchedule', 'paymentSchedule')">
            <span><i class="fas fa-user"></i></span>
            <a href="javascript:void(0);">
                Payment Schedule
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'addAttendance')" (click)="goto('/dashboard/addAttendance', 'addAttendance')">
            <span><i class="fas fa-user"></i></span>
            <a href="javascript:void(0);">
                Add Attendance
            </a>
        </li>
        <li [class.active]="(activeMenuItem == 'addmaster')" (click)="goto('/dashboard/addmaster', 'addmaster')">
            <span><i class="fas fa-dollar-sign"></i></span>
            <a href="javascript:void(0);">
                Settings
            </a>
        </li>

        <li (click)="logout()">
            <span><i class="fas fa-sign-out-alt"></i></span>
            <a href="javascript:void(0);">
                Logout
            </a>
        </li>

    </ul>

</aside>
<!--/Sidebar-->