<div class="modal" id="modalElem1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">View Image</h5>
        </div>
        <div class="modal-body grid-container">
          <div class="col-options grid-item">
            <ng-template #noimage><p>
              No image found
            </p></ng-template>
            <img 
              *ngIf="imageLink; else noimage" 
              class="responsive_img" 
              [src]="'https://abprojects-bucket11.s3.amazonaws.com/'+imageLink"  
              alt="inspection image"
            />
          </div>
        </div>
        <div class="modal-footer" style="display: flex; justify-content: space-between;">
          <div class="image-pagination" style="display: flex; gap: 5px;">
            <p (click)="slideImage('decrement')" style="font-size: 1.5rem; cursor: pointer;">&#8592;</p>
            <p (click)="slideImage('increment')" style="font-size: 1.5rem; cursor: pointer;">&#8594;</p>
          </div>
          <button (click)="onClose()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button id="openModalButton1" #openModalButton1 [hidden]="true" data-toggle="modal" data-target="#modalElem1">Open Modal</button>