
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey" style="display: flex; justify-content: space-between;">
                                <div class="font-bold text-xl">Payment Schedule
                                   
                                </div>
                                <div class="font-bold text-xl">
                                    <span style="border: 2px solid grey;">
                                        <input (input)="search($event)" type="text" placeholder="Search.." name="search" id="search" value="" >
                                    </span>
                                    <select name="setMonth" [ngModel]="selectedMonth" (ngModelChange)="setMonth($event)" style="margin: 0 20px;">
                                        <option value=1>Jan</option>
                                        <option value=2>Feb</option>
                                        <option value=3>Mar</option>
                                        <option value=4>Apr</option>
                                        <option value=5>May</option>
                                        <option value=6>June</option>
                                        <option value=7>July</option>
                                        <option value=8>Aug</option>
                                        <option value=9>Sep</option>
                                        <option value=10>Oct</option>
                                        <option value=11>Nov</option>
                                        <option value=12>Dec</option>
                                    </select>
                                    <span class="export-btn" *ngIf="databackup?.length > 0" style="float: right; border: 2px solid #e2e8f0; margin: 0 0 20px 10px">
                                        <button class="buttonCls" (click)="toggleModal()" style="padding: 5px; font-size: 16px">Export</button>
                                    </span>
                                    <span class="export-btn" *ngIf="databackup?.length > 0" style="float: right; border: 2px solid #e2e8f0; margin: 0 0 20px 10px">
                                        <button class="buttonCls" (click)="toggleDateModal()" style="padding: 5px; font-size: 16px">Filter</button>
                                    </span>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                         <td scope="col">No.</td>
                                        <td scope="col">Last Name</td>
                                        <td scope="col">Initials</td>
                                        <td scope="col">ID Number</td>
                                        <td scope="col">Full Name</td>
                                        <td scope="col">Rate of Pay</td>
                                        <td scope="col">No. of days worked in cycle</td>
                                        <td scope="col">Gross Amt to be paid</td>

                                    </tr>
                                    </thead>
                                    <tbody>  
                                        <tr *ngFor="let item of tableContent;">
                                            <td scope="row">{{ item?.id }}</td>
                                            <td scope="row">{{ item?.lastname }}</td>
                                            <td scope="row">{{ item?.initials }}</td>
                                            <td scope="row">{{ item?.said }}</td>
                                            <td scope="row" (click)="goto('/dashboard/profile', item)">
                                                
                                                    {{ item?.fullname | titlecase }}
                                                
                                            </td>
                                            <td scope="row">400</td>
                                            <td scope="row">{{ item?.cnt }}</td>
                                            <td scope="row">{{ item?.cnt * 400 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>
<app-export-modal
[openModal]="openModal"
[exportData]="databackup"
[modalBodyData]="modalBodyData"
(onCloseEvent)="toggleModal()">
</app-export-modal>

<app-date-filter
[openModal]="openDateModal"
[exportData]="databackup"
[modalBodyData]="modalBodyData"
(onCloseEvent)="toggleDateModal()"
(onDateFilter)="dateFilter($event)">
</app-date-filter>
