
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" ></i>
                    <h1 class="text-white p-2"><img src="assets/images/Logomain.png" height="60" width="180"></h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                   
                    <!--<a href="https://github.com/tailwindadmin/admin" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">Github</a> -->
                    <img src="assets/images/ABProjectsLogo.png" height="60" width="180">


                    <img src="assets/images/logo.jpeg" alt="" height="60" width="180">
                                                                                                                                 
                   <!-- <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a> -->

                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                <ul class="list-reset flex flex-col">
                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Dashboard
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white" (click)="goto('/dashboard/roadInspection')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Road Inspection
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white" (click)="goto('/dashboard/manageSupervisor')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Manage Supervisor
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>

                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white" (click)="goto('/dashboard/paymentSchedule')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Payment Schedule
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>

                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard/addmaster')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Settings
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
    
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="logout()">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Logout
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                      
                    </ul>
                </ul>

            </aside>
            <!--/Sidebar-->
            <!--Main-->
            
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey" style="display: flex; justify-content: space-between;">
                                <div class="font-bold text-xl">Payment Schedule</div>
                                <div class="font-bold text-xl" style="display: flex; gap: 1.9rem;">
                                    <span style="border: 2px solid grey;">
                                        <input (input)="search($event)" type="text" placeholder="Search.." name="search" id="search" value="" >
                                    </span>
                                    <select name="setMonth" [ngModel]="selectedMonth" (ngModelChange)="setMonth($event)">
                                        <option value=1>Jan</option>
                                        <option value=2>Feb</option>
                                        <option value=3>Mar</option>
                                        <option value=4>Apr</option>
                                        <option value=5>May</option>
                                        <option value=6>June</option>
                                        <option value=7>July</option>
                                        <option value=8>Aug</option>
                                        <option value=9>Sep</option>
                                        <option value=10>Oct</option>
                                        <option value=11>Nov</option>
                                        <option value=12>Dec</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                        <td scope="col">Worker Name</td>
                                        <td scope="col">Worker ID</td>
                                        <td scope="col">Amount</td>

                                    </tr>
                                    </thead>
                                    <tbody>  
                                        <tr *ngFor="let item of tableContent;">
                                            <td scope="row" (click)="goto('/dashboard/profile', item)">
                                                
                                                    {{ item?.fullname | titlecase }}
                                                
                                            </td>
                                            <td scope="row">{{ item?.said }}</td>
                                            <td scope="row">{{ item?.cnt * 400 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>
