input[type=text] {
    width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding-left: 10px;
  }
  
  input[type=text]:focus {
    width: 280px;
  }