
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey">
                                <div class="font-bold text-xl">EPWP Supervisors
                                    <button data-modal='toppedModal' (click)="goto('/dashboard/manageSupervisor')" 
                                    class="buttonCls modal-trigger bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Add Supervisor
                                    </button>
                                    
                                    <span style="float: right; border: 2px solid #e2e8f0;"><input (input)="search($event)" style="padding: 5px;" type="text" placeholder="Search.." name="search" id="search" value="" ></span>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                        
                                        <th scope="col">Name</th>
                                        <th scope="col">Region</th>
                                        <th scope="col">Action</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of data">
                                        <td scope="row">{{ item?.fullname }}</td>
                                        <td scope="row">{{ item?.region }}</td>
                                        <td scope="row" (click)="changePin(item)" style="color: blue; cursor:pointer;">Change PIN</td>
                                        <!--
                                        <td>
                                            <span class="text-green-500"><i class="fas fa-arrow-up"></i>5%</span>
                                        </td>
                                        -->
                                       
                                    </tr>
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main> 
           
            <!--/Main-->
        </div>
    </div>

</div>

<app-general-modal
[openModal]="openModal"
[exportData]="itemObject"
(onCloseEvent)="toggleModal()">
</app-general-modal>
