<div class="mx-auto bg-grey-400">
  <!--Screen-->
  <div class="min-h-screen flex flex-col">
    <app-header></app-header>

      <div class="flex flex-1">
          <app-aside-nav></app-aside-nav>
          <!--Main-->
          <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">
              
               <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                  EPWP Participants Attendance -> {{ profiledata?.fullname }}
              </div>

              <div class="container">
                <full-calendar [options]="calendarOptions"></full-calendar>
              </div>
              
          </main>
          <!--/Main-->
      </div>
  </div>

</div>
