<div class="mx-auto bg-grey-400">
  <!--Screen-->
  <div class="min-h-screen flex flex-col">
      <app-header></app-header>

      <div class="flex flex-1">
        <app-aside-nav></app-aside-nav>
          <!--Main-->
          <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">
              
               <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                  EPWP Participants Attendance Details
              </div>

              <div class="container">
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    <agm-marker [latitude]="latEnd" [longitude]="lngEnd"></agm-marker> -->
                    <agm-direction 
                      [origin]="origin" 
                      [destination]="destination"
                      [travelMode]="travelMode"
                    >
                    </agm-direction>
                  </agm-map>
                  <ng-container *ngIf="attendanceDetailData?.photo">
                    <div style="margin-top: 20px; position: absolute; left: 50%; transform: translateX(-30%);" >
                        <img height="300px" width="600px" [src]="'https://abprojects-bucket11.s3.amazonaws.com/'+attendanceDetailData?.photo" alt="attendance pic" />
                    </div>
                </ng-container>
              </div>
              
          </main>
          <!--/Main-->
      </div>
  </div>

</div>
