<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->

            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">

                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                Add Attendance
                            </div>
                            <div class="p-3">
                                <div class="flex">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="name">
                                                Name
                                            </label>
                                        <p id="name">{{ params?.fullname }}</p>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="gender">
                                                Gender
                                            </label>
                                        <p id="gender">{{ params?.gender }}</p>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label
                                        class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                        for="age">
                                        Age
                                    </label>
                                        <p id="age">{{ params?.age }}</p>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label
                                        class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                        for="id">
                                        ID
                                    </label>
                                        <p id="id">{{ params?.id }}</p>
                                    </div>
                                </div>
                                <div class="separtor my-4"></div>
                                <form class="w-full" [formGroup]="form" (ngSubmit)="submitForm()">

                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label for="comment"
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1">
                                                Comment </label>
                                            <div style="display: flex; gap: 10px;"><input
                                                formControlName="comment"
                                                    id="comment" type="radio" value="Absent"
                                                    name="comment">
                                                <p class="text-red-500 text-xs italic">Absent</p>
                                                <input formControlName="comment"
                                                    id="comment" type="radio" value="Sick Leave"
                                                    name="comment" >
                                                <p class="text-red-500 text-xs italic">Sick Leave</p>
                                                <input formControlName="comment"
                                                    id="comment" type="radio" value="Stand In"
                                                    name="comment" >
                                                <p class="text-red-500 text-xs italic">Stand In</p>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-last-name">
                                                Attendance Date
                                            </label>
                                            <input [ngClass]="{ 'is-invalid': submitted && f.attendanceDate.errors }"
                                                formControlName="attendanceDate"
                                                class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                                id="grid-last-name" type="date" value="">
                                            <div *ngIf="submitted && f.attendanceDate.errors" class="invalid-feedback">
                                                <div *ngIf="f.attendanceDate.errors?.required">Please fill out this
                                                    field.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label for="allDay"
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1">
                                                All Day? </label>
                                            <div style="display: flex; gap: 10px;"><input
                                                formControlName="allDay"
                                                    id="allDay" type="radio" value="1"
                                                    name="allDay" class="ng-untouched ng-pristine ng-valid">
                                                <p class="text-red-500 text-xs italic">Yes</p>
                                                <input formControlName="allDay"
                                                    id="allDay" type="radio" value="0"
                                                    name="allDay" class="ng-untouched ng-pristine ng-valid">
                                                <p class="text-red-500 text-xs italic">No</p>
                                            </div>
                                        </div>
                                
                                        <div class="w-full md:w-1/2 px-3">
                                           
                                        </div>
                                    </div> -->
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Location
                                            </label>
                                            <input [ngClass]="{ 'is-invalid': submitted && f.startLocation.errors }"
                                                formControlName="startLocation"
                                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" value="">
                                            <div *ngIf="submitted && f.startLocation.errors" class="invalid-feedback">
                                                <div *ngIf="f.startLocation.errors.required">Please fill out this field.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-last-name">
                                                Work Hours
                                            </label>
                                            <input [ngClass]="{ 'is-invalid': submitted && f.workHours.errors }"
                                                formControlName="workHours"
                                                class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                                id="grid-last-name" type="text" value="">

                                            <div *ngIf="submitted && f.workHours.errors" class="invalid-feedback">
                                                <div *ngIf="f.workHours.errors.required">Please fill out this field.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="startTime">
                                                Start Time
                                            </label>
                                            <input type="time" id="startTime" name="startTime"
                                                [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }"
                                                formControlName="startTime"
                                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500">
                                            <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                                                <div *ngIf="f.startTime.errors.required">Please fill out this field.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="w-full md:w-1/2 px-3">
                                            <label
                                                class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="startTime">
                                                End Time
                                            </label>
                                            <input type="time" id="endTime" name="endTime"
                                                [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
                                                formControlName="endTime"
                                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500">
                                            <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
                                                <div *ngIf="f.endTime.errors.required">Please fill out this field.</div>
                                            </div>
                                        </div> -->
                                    </div>

                                    <button type="submit"
                                        class="buttonCls bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 rounded">
                                        Submit
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>