.user-profile-wrap{
    position: relative;
    display: block;
    .profile-pic-wrap{
        display: block;
        margin: 0 auto;
        text-align: center;
        img{
            width: 80px;
            height: 80px;
            margin: 10px auto;
        }
        button{
            width: 100px;
            height: 30px;
        }
    }
  
}
.document-section-wrap {
    .document-head{
        margin-bottom: 15px;
        font-weight: bold;
    }
    padding: 10px;
    img{
        width: 80px;
        height: 80px;
        margin: 10px auto;
    }
}