
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" ></i>
                    <h1 class="text-white p-2"><img src="assets/images/Logomain.png" height="60" width="180"></h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                   
                    <!--<a href="https://github.com/tailwindadmin/admin" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">Github</a> -->
                    <img src="assets/images/ABProjectsLogo.png" height="60" width="180">


                    <img src="assets/images/Logo-1.jpg" alt="" height="60" width="180">
                                                                                                                                 
                   <!-- <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a> -->

                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                <ul class="list-reset flex flex-col">
                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Dashboard
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard/addmaster')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Settings
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
    
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="logout()">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Logout
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                      
                    </ul>
                </ul>

            </aside>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">
                
                 <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                    EPWP Participants -> {{ profiledata?.fullname }} | <a href="">Export Participant info in pdf form.</a>
                </div>

                <div class="flex flex-col">
                    <!-- Stats Row Starts Here -->
                   

                    <!-- /Stats Row Ends Here -->

                    <!-- Card Sextion Starts Here -->
                    

                    
                    <!--Profile Tabs-->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2 p-1 mt-2 mx-auto lg:mx-2 md:mx-2 justify-between">
                        <!--Top user 1-->
                        
                        <div class="rounded rounded-t-lg overflow-hidden shadow my-3">
                            <div class="flex justify-center">
                                <img [src]="profiledata?.profileImage || 'https://i.imgur.com/8Km9tLL.jpg'" alt=""
                                     class="rounded-full border-solid border-white border-2 ">
                                     <input type="file" id="file" style="display:none;" (change)="thisFileUploadchange($event)" />
                                     <button id="button" name="button" value="Upload" (click)="thisFileUpload()">Upload</button>
                            </div>
                            <div class="text-center px-3 pb-6 pt-2">
                                <h3 class="text-black text-sm bold font-sans">{{ profiledata?.fullname }} </h3><h3>{{ profiledata?.id }}</h3>
                                <p class="mt-2 font-sans font-light text-grey-700">Outer West, {{ profiledata?.gender }}, {{ profiledata?.age }}</p>
                                
                            </div>
                              
                            <div class="p-3">
                                <table class="table-fixed">
                                    
                                    <tbody>
                                        
                                      <tr>
                                        <td class="border px-4 py-2">Initial</td>
                                        <td class="border px-4 py-2">{{ profiledata?.initials }} </td>
                                       
                                      </tr>
                                      <tr>
                                        <td class="border px-4 py-2">Attendance</td>
                                        <td class="border px-4 py-2">0</td>
                                       
                                      </tr>
                                      <tr>
                                        <td class="border px-4 py-2">Job Title</td>
                                        <td class="border px-4 py-2">{{ profiledata?.jobTitle }} </td>
                                       
                                      </tr>
                                       <tr>
                                        <td class="border px-4 py-2">Reporting to</td>
                                        <td class="border px-4 py-2">{{ profiledata?.supervisor }}</td>
                                       
                                      </tr>
                                      <tr class="bg-gray-100">
                                        <td class="border px-4 py-2">No of days worked in current month</td>
                                        <td class="border px-4 py-2">{{ profiledata?.payableDays }}</td>
                                        
                                      </tr>
                                      <tr class="bg-gray-100">
                                        <td class="border px-4 py-2">Amount to be paid in current month</td>
                                        <td class="border px-4 py-2">{{ profiledata?.amountPaid }}</td>
                                        
                                      </tr>
                                      
                                        <tr>
                                        <td class="border px-4 py-2">Out of Service</td>
                                        <td class="border px-4 py-2">{{ profiledata?.outOfService }}</td>
                                       
                                      </tr>
                                        
                                        <tr>
                                        <td class="border px-4 py-2">Edu</td>
                                        <td class="border px-4 py-2">{{ profiledata?.education }}</td>
                                       
                                        </tr>
                                
                                        <tr>
                                        <td class="border px-4 py-2">Bank Name</td>
                                        <td class="border px-4 py-2">{{ profiledata?.bankName }}</td>
                                       
                                       </tr> 
                                        
                                        <tr>
                                        <td class="border px-4 py-2">Account Number</td>
                                        <td class="border px-4 py-2">{{ profiledata?.accountNumber }}</td>
                                       
                                       </tr> 
                                        
                                        <tr>
                                        <td class="border px-4 py-2">Branch Code</td>
                                        <td class="border px-4 py-2">{{ profiledata?.branchCode }}</td>
                                       
                                       </tr> 
                                        
                                        <tr>
                                        <td class="border px-4 py-2">Branch Name</td>
                                        <td class="border px-4 py-2">{{ profiledata?.branchName }}</td>
                                       
                                       </tr> 
                          
                                        <tr>
                                        <td class="border px-4 py-2">Contact</td>
                                        <td class="border px-4 py-2">{{ profiledata?.cellNo }}</td>
                                       
                                       </tr>
                                        
                                        <tr>
                                            <td class="border px-4 py-2">Upload Contract (pdf/image)</td>
                                            <td class="border px-4 py-2">
                                                 <button id="button" name="button" value="Upload" (click)="thisFileUpload()">Upload</button>
                                            </td>
                                       
                                       </tr>
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                        
                        </div>
                        <!--Top user 2-->
                        
                       <div class="rounded rounded-t-lg overflow-hidden shadow my-3" style="width: 50%;">
                           
                            
                            <div class="flex justify-center">
                                <!--
                                <img src="https://i.imgur.com/8Km9tLL.jpg" alt=""
                                     class="rounded-full border-solid border-white border-2 "> -->
                                Work Location
                            </div>
                            <div class="text-center px-3 pb-6 pt-2">
                                
                                
                                <div id="googleMap" style="width:100%;height:400px;"></div>

                                <script>
                                function myMap() {
                                var mapProp= {
                                  center:new google.maps.LatLng(19.0154,29.1549),
                                  zoom:5,
                                };
                                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                
                                }
                                </script>


                                <script
                                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh85Vgsr23Wt0Z7o0SQJgTe8HYKYgvxGY&callback=myMap&v=weekly"
                                  defer
                                ></script>
                              
                            </div>
                            
                            <div class="p-3">
                                
                            </div>
                            
                        
                        </div>

                
                        <!--Top user 3-->
                       
                    </div>
                    <!--/Profile Tabs-->
                    
                     <!-- Progress Bar -->
                    
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2 mt-2">
                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full pt-2">
                            <div class="px-6 py-2 border-b border-light-grey">
                                <div class="font-bold text-xl">Progress Day wise</div>
                            </div>
                            <div class="">
                                <div class="w-full">

                                    <div class="shadow w-full bg-grey-light">
                                        <div class="bg-blue-500 text-xs leading-none py-1 text-center text-white"
                                             style="width: 45%">45% Day1
                                        </div>
                                    </div>


                                    <div class="shadow w-full bg-grey-light mt-2">
                                        <div class="bg-teal-500 text-xs leading-none py-1 text-center text-white"
                                             style="width: 55%">55% Day2
                                        </div>
                                    </div>


                                    <div class="shadow w-full bg-grey-light mt-2">
                                        <div class="bg-orange-500 text-xs leading-none py-1 text-center text-white"
                                             style="width: 65%">65% Day3
                                        </div>
                                    </div>


                                    <div class="shadow w-full bg-grey-300 mt-2">
                                        <div class="bg-red-800 text-xs leading-none py-1 text-center text-white"
                                             style="width: 75%">75% Day4
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>
