<footer>
    <div class="footerwrap">
      <div class="customcontainer">
        <div class="dflex dflex_bet ">
          <div class="footerlogo">
            <a href="#" class="logowrap"> Geek <span>Zone</span></a>
            <p> Copyright © 2022</p>
          </div>
          <div class="sociallogo">
            <ul>
              <li><a href="#"> <img src="assets/images/facebook.svg" alt=""></a></li>
              <li><a href="#"> <img src="assets/images/twitter.svg" alt=""></a></li>
              <li><a href="#"> <img src="assets/images/instagram.svg" alt=""></a></li>
              <li><a href="#"> <img src="assets/images/linkedin.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>