
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey">
                                <div class="font-bold text-xl">Road Inspection
                                    <span class="export-btn" *ngIf="tableContent?.length > 0"  style="float: right; border: 2px solid #e2e8f0; margin: 0 0 20px 10px">
                                        <button (click)="toggleModal()" style="padding: 5px; font-size: 16px">Export</button>
                                    </span>
                                    <span style="float: right; border: 2px solid #e2e8f0;"><input (input)="search($event)" type="text" placeholder="Search.." name="search" id="search" value="" ></span>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                        <td scope="col">Supervisor Name</td>
                                        <td scope="col">Worker Name</td>
                                        <td scope="col">Worker ID</td>
                                        <td scope="col">Inspection Time</td>
                                        <td scope="col">Litter</td>
                                        <td scope="col">Road</td>
                                        <td scope="col">Safety</td>
                                        <td scope="col">Verge</td>
                                        <td scope="col">Drain</td>
                                        <td scope="col">Erosion</td>
                                        <td scope="col">Comment</td>
                                        <td scope="col">Created At</td>
                                        <td scope="col">View Image</td>

                                        <!-- comment: "ereree"
                                        created_at: "2022-06-06T04:31:04.000Z"
                                        drain: "ere"
                                        erosion: "ere"
                                        id: 1
                                        inspectionImage1: "2b780045-242b-4e97-b15f-7fd8eb27d4fd.JPG"
                                        inspectionImage2: ""
                                        inspectionImage3: ""
                                        inspectionImage4: ""
                                        inspectionTime: "1:0"
                                        litter: "ee"
                                        location: "37.4220936,-122.083922"
                                        rating: 1
                                        road: "ere"
                                        safety: 0
                                        supervisorId: 2422
                                        updated_at: "2022-06-06T04:31:04.000Z"
                                        verge: "eer"
                                        workerId: 30011 -->
                                        
                                    </tr>
                                    </thead>
                                    <tbody>  
                                        <ng-container *ngIf="tableContent?.length; else newDeb" >
                                        <tr *ngFor="let item of tableContent;">
                                            <td scope="row">{{ item?.supervisorName }}</td>
                                            <td scope="row">{{ item?.workerName }}</td>
                                            <td scope="row">{{ item?.said }}</td>
                                            <td scope="row">{{ item?.inspectionTime }}</td>
                                            <td scope="row">{{ item?.litter }}</td>
                                            <td scope="row">{{ item?.road }}</td>
                                            <td scope="row">{{ item?.safety === 0 ? 'No': 'yes' }}</td>
                                            <td scope="row">{{ item?.verge }}</td>
                                            <td scope="row">{{ item?.drain }}</td>
                                            <td scope="row">{{ item?.erosion }}</td>
                                            <td scope="row">{{ item?.comment }}</td>
                                            <td scope="row">{{ item?.created_at | date: 'yyyy-mm-dd' }}</td>
                                            <td class="border">
                                                <div class="action-btn-wrap" (click)="imageSrc = item?.inspectionImage1; toggleImageModal();">
                                                    <a 
                                                        class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                   
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #newDeb>
                                        <loader></loader>
                                    </ng-template>
                                  
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>
<app-export-modal
[openModal]="openModal"
[exportData]="tableContent"
[modalBodyData]="modalBodyData"
(onCloseEvent)="toggleModal()">
</app-export-modal>

<app-view-image
[openModal]="openImageModal"
[imageSrc]="imageSrc"
(onCloseEvent)="toggleImageModal()">
</app-view-image>
