
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" ></i>
                    <h1 class="text-white p-2"><img src="assets/images/Logomain.png" height="60" width="180"></h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                   
                    <!--<a href="https://github.com/tailwindadmin/admin" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">Github</a> -->
                    <img src="assets/images/ABProjectsLogo.png" height="60" width="180">


                    <img src="assets/images/Logo-1.jpg" alt="" height="60" width="180">
                                                                                                                                 
                   <!-- <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a> -->

                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                <ul class="list-reset flex flex-col">
                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Dashboard
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white" (click)="goto('/dashboard/roadInspection')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Road Inspection
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white" (click)="goto('/dashboard/manageSupervisor')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Manage Supervisor
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="goto('/dashboard/addmaster')">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Settings
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
    
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border " (click)="logout()">
                            <a 
                               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Logout
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                      
                    </ul>
                </ul>

            </aside>
            <!--/Sidebar-->
            <!--Main-->
            
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey">
                                <div class="font-bold text-xl">Road Inspection
                                    <span style="float: right; border: 2px solid #e2e8f0;"><input (input)="search($event)" type="text" placeholder="Search.." name="search" id="search" value="" ></span>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                        
                                        <th scope="col">Inspection Time</th>
                                        <th scope="col">Litter</th>
                                        <th scope="col">Road</th>
                                        <th scope="col">Safety</th>
                                        <th scope="col">Verge</th>
                                        <th scope="col">Drain</th>
                                        <th scope="col">Erosion</th>
                                        <th scope="col">Comment</th>

                                        <!-- comment: "ereree"
                                        created_at: "2022-06-06T04:31:04.000Z"
                                        drain: "ere"
                                        erosion: "ere"
                                        id: 1
                                        inspectionImage1: "2b780045-242b-4e97-b15f-7fd8eb27d4fd.JPG"
                                        inspectionImage2: ""
                                        inspectionImage3: ""
                                        inspectionImage4: ""
                                        inspectionTime: "1:0"
                                        litter: "ee"
                                        location: "37.4220936,-122.083922"
                                        rating: 1
                                        road: "ere"
                                        safety: 0
                                        supervisorId: 2422
                                        updated_at: "2022-06-06T04:31:04.000Z"
                                        verge: "eer"
                                        workerId: 30011 -->
                                        
                                    </tr>
                                    </thead>
                                    <tbody>  
                                        <tr *ngFor="let item of tableContent;">
                                            <th scope="row">{{ item?.inspectionTime }}</th>
                                            <th scope="row">{{ item?.litter }}</th>
                                            <th scope="row">{{ item?.road }}</th>
                                            <th scope="row">{{ item?.safety === 0 ? 'No': 'yes' }}</th>
                                            <th scope="row">{{ item?.verge }}</th>
                                            <th scope="row">{{ item?.drain }}</th>
                                            <th scope="row">{{ item?.erosion }}</th>
                                            <th scope="row">{{ item?.comment }}</th>
                                        </tr>
                                  
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main>
          
                
                 

                
           
            <!--/Main-->
        </div>
    </div>

</div>
