
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <app-header></app-header>

        <div class="flex flex-1">
            <app-aside-nav></app-aside-nav>
            <!--Main-->
            
            <main class="middle-content-wrapper bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                   
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                        <!-- card -->

                        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                            <div class="px-6 py-2 border-b border-light-grey">
                                <div class="font-bold text-xl">EPWP Attendance
                                    <span style="margin-right: auto;">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dt" (dateChange)="onDate($event)">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker [(ngModel)]="dt" ngDefaultControl (selectedChanged)="onDate($event)"></mat-datepicker>
                                          </mat-form-field>
                                        </span>
                                    <span style="float: right; border: 2px solid #e2e8f0;">
                                        
                                        <input (input)="search($event)" type="text" placeholder="Search.." name="search" id="search" value="" ></span>
                                        <span class="export-btn" *ngIf="databackup?.length > 0" style="float: right; border: 2px solid #e2e8f0; margin: 0 0 20px 10px">
                                            <button class="buttonCls" (click)="toggleModal()" style="padding: 5px; font-size: 16px">Export</button>
                                        </span>
                                </div>
                            </div> 
                            <div class="table-responsive">
                                <table class="table text-grey-darkest">
                                    <thead class="bg-grey-dark text-white text-normal">
                                    <tr>
                                        
                                        <th scope="col">Beneficiary Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of data">
                                        <ng-container *ngIf="item?.fullname">
                                            <th scope="row">{{ item?.fullname }} </th>
                                            <th scope="row">
                                                <a style="cursor: pointer;" (click)="goto('/dashboard/attendanceDetail', item)"
                                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                                    
                                                view location / image
                                            
                                                </a>
                                            </th>
                                        </ng-container>
                                      
                                    </tr>
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /Cards Section Ends Here -->

                </div>
            </main>
            <!--/Main-->
        </div>
    </div>

</div>
<app-export-modal
[openModal]="openModal"
[exportData]="databackup"
[modalBodyData]="modalBodyData"
(onCloseEvent)="toggleModal()">
</app-export-modal>
